<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        {% block meta %}
        <title>Document</title>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="chart">Charts</a></li>
            <li><a href="debug">Debug</a></li>
        </ul>
        {% block content %}
        <h1>Welcome to GLOBAL!</h1>
        {% endblock %}
        {% block extra_info %}
        <!-- Extra info for debugging -->
        {% endblock %}
    </body>
</html>
