<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
        <title>Document</title>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="chart">Charts</a></li>
            <li><a href="debug">Debug</a></li>
        </ul>
        {% block content %}
        <h1>Welcome to GLOBAL!</h1>
        {% endblock %}{% block extra_info %}
        <!-- Extra info for debugging -->
        {% endblock %}
    </body>
</html>
